{% extends "template.html"%}
{% block conteudo %}
    <div class="container mt-5 text-justify lead">
        <h1 class="text-center">Canais e Programas de Apoio à Violência contra Mulher</h1>

        <h2 class="text-center mt-4">Delegacia Virtual</h2>
        <p class="mt-2">A Delegacia Virtual é uma ferramenta essencial no combate à violência contra as mulheres em Minas Gerais. Desde a sua criação em 2014, 
            ela desempenha um papel fundamental no fornecimento de um canal seguro e acessível para vítimas denunciarem casos de agressão e violência doméstica. 
            O seu papel tornou-se ainda mais relevante durante a pandemia da COVID-19. Para realizar o registro da ocorrência, acesse <a href="https://delegaciavirtual.sids.mg.gov.br">https://delegaciavirtual.sids.mg.gov.br</a>.</p>

        <h2 class="text-center mt-4">Aplicativo MG Mulher</h2>
        <p class="mt-2">
            O aplicativo MG Mulher, lançado em março de 2020 pela Polícia Civil, oferece suporte às vítimas de violência doméstica. 
            Ele fornece orientações, vídeos informativos, endereços das unidades policiais mais próximas e a opção de criar uma rede de contatos para avisos de emergência. 
            Com poucos cliques, as vítimas podem enviar sua localização em tempo real. Faz parte do Programa MG Mulher, que inclui monitoramento de homens investigados pela Lei Maria da Penha, criação de um grupo multidisciplinar 
            para estudar a violência contra a mulher e outras iniciativas. O aplicativo está disponível gratuitamente para 
            <a href="https://play.google.com/store/apps/details?id=br.gov.mg.policiacivil.appMulher2&hl=pt&gl=US&pli=1">Android</a> e <a href="https://apps.apple.com/br/app/mg-mulher/id1500062302">iOS</a>.
        </p>

        <h2 class="text-center mt-4">Casa da Mulher Mineira</h2>
        <p class="mt-2">
            A Casa da Mulher Mineira, localizada em Belo Horizonte, é um espaço dedicado ao acolhimento e atendimento especializado para mulheres vítimas de violência. 
            Profissionais qualificados estão disponíveis para ajudar em cada caso de forma adequada, garantindo um ambiente seguro e de apoio. 
            O endereço é Av. Augusto de Lima, 1845 - Centro, Belo Horizonte.
        </p>

        <h2 class="text-center mt-4">Atendimento especializado</h2>
        <p class="mt-2">
            A Polícia Civil conta com o Núcleo Especializado em Investigação de Feminicídios e 73 Delegacias Especializadas no Atendimento à Mulher (Deams) em todo o Estado. 
            Essas unidades oferecem atendimento humanizado a vítimas de violência doméstica. 
            A Deam da capital atende 24 horas por dia e possui profissionais multidisciplinares, incluindo psicólogos e assistentes sociais.
        </p>

        <h2 class="text-center mt-4">Responsabilização e Educação</h2>
        <p class="mt-2">
            A Polícia Civil possui o programa Dialogar, que promove práticas restaurativas de convivência, valorização da vida e dos direitos humanos. 
            Isso inclui oficinas de reflexão e responsabilização para autores de violência doméstica.
            O programa colabora com o Tribunal de Justiça e oferece atendimento voluntário ou encaminhado por outras instituições para homens que desejam mudar seu comportamento.
        </p>

        <h2 class="text-center mt-4">Canais de Apoio em Caso de Violência</h2>
        <ul>
            <li><strong>Polícia Militar:</strong> Ligue 190</li>
            <li><strong>Polícia Civil:</strong> Ligue 197</li>
            <li><strong>Disque Denúncia:</strong> Ligue 181</li>
            <li><strong>Central de Atendimento à Mulher:</strong> Ligue 180</li>
            <li><strong>Disque Direitos Humanos:</strong> Ligue 100</li>
        </ul>
    </div>
{% endblock %}