{% extends 'template.html' %}
{% block conteudo %}
    <div class="container text-center">
        <h1 class="display-4">Projeto de Análise de Dados de Violência Contra a Mulher</h1>
        <p class="lead">Explorando Dados para Promover a Igualdade e a Segurança das Mulheres</p>
    </div>

    <div class="container mt-4 text-justify">
        <div class="row">
            <div class="col-md-6">
                <h2>Sobre a Análise de Dados</h2>
                <p class="lead">
                    A análise de dados é uma poderosa ferramenta que nos permite examinar informações detalhadas e tirar conclusões significativas. 
                    Neste projeto, utilizamos análise de dados para investigar a violência contra a mulher em Minas Gerais, analisando tendências, padrões e desenvolvendo 
                    medidas de prevenção.
                </p>
                <p class="lead">
                    A análise de dados desempenha um papel crucial em identificar áreas críticas, orientando decisões informadas e promovendo mudanças significativas 
                    na sociedade. Com a análise, podemos fornecer insights que podem contribuir para um futuro mais seguro e igualitário.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Violência Contra a Mulher no Brasil</h2>
                <p class="lead">
                    A violência contra a mulher é um problema global, incluindo o Brasil. Ela abrange diversas formas de agressão, 
                    como violência doméstica, estupro, importunação sexual, lesão corporal, ameaça e feminicídio.
                </p>
                <p class="lead">
                    No Brasil, organizações e iniciativas têm se esforçado para combater essa violência e promover a igualdade de gênero. 
                    A análise de dados desempenha um papel crucial nesses esforços, fornecendo informações fundamentadas para a formulação de políticas e 
                    ações direcionadas à prevenção e à proteção das mulheres.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
